body{
    background-color: rgb(61, 60, 60);
}

/* Message box that scrolls with messages. */
.messageBlock{
    position: absolute;
    right: 2px;
    top: 71px;
    bottom: 50px;
    width: 347px;
    overflow-y: auto;
    overflow-wrap: break-word;
    border: 1px solid black;
    background-color:rgb(35, 35, 35);
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*  */
.messageBox{
    width: 100%;
    /* margin-left: 10px; */
}


/* Username sending the message. Can Scale for titles later. */
.color{
    color: purple;
}

/* Message itself. */
.noColor{
    color: white;
}

/* Server Message */
.serverMessage{
    position: relative;
    color: white;
    text-align: center;
    background-color: rgb(46, 1, 46);
    /* width: 347px; */
}

/* Bar between chat messages. */
.messageBreak{
    background-color: white;
    height: 1px;
    border: none;
    margin-bottom: 2px;
    margin-top: 4px;
}

/* The text box to sumbit the message. */
.messageInput{
    position: absolute;
    right: 76px;
    bottom: 2px;
    width: 263px;
    height: 43px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color:rgb(22, 22, 22);
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid black;
    outline-color: purple;
}

/* The send button to send a message. */
.messageSend{
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 73px;
    height: 47px;
    color: white;
    background-color:rgb(22, 22, 22);
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid black;
    outline-color: purple;
}

/* Chat Nav Bar */
.chatNav{
    position: absolute;
    right: 2px;
    top: 40px;
    height: 28px;
    width: 337px;
    border: 1px solid black;
    background-color:rgb(22, 22, 22);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    font-size: 12px;
    line-height: 28px;
    padding-left: 5px;
    padding-right: 5px;
}

/*  */
.chatNavRight{
    float: right;
}

/* Login Form */
.loginForm{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Login Text */
.loginText{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    margin-top: -86px;
}

/* User login  */
.loginField{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color:rgb(22, 22, 22);
    outline-color: purple;
    border: 1px solid black;
    text-align: center;
    margin: 20px 0px;
    font-size: 26px;
    width: 200px;
    height: 50px;
}

/* Login Submit */
.loginSubmit{
    align-self: right;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid black;
    background-color:rgb(22, 22, 22);
    font-size: 30px;
    outline-color: purple;
}

/* Nav Bar */
.navBar{
    position: absolute;
    height: 35px;
    top: 2px;
    left: 2px;
    right: 2px;
    border: 1px solid black;
    background-color:rgb(22, 22, 22);
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 35px;
    padding-left: 5px;
    
}

/* White Board */
.whiteBoard{
    position: absolute;
    top: 40px;
    bottom: 50px;
    left: 2px;
    right: 352px;
    border: 1px solid black;
    background-color:white;

    /* Prevent accidental selection and draging */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.whiteBoard>canvas{
    width: 100%;
    height: 100%;
}

/* Tool Bar */
.toolBar{
    position: absolute;
    bottom: 2px;
    right: 352px;
    height: 45px;
    left: 2px;
    border: 1px solid black;
    background-color:rgb(22, 22, 22);

    display: flex;
    align-items: center;
    justify-items: center;
}

.currentColor{
    display: inline-flex;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-left: 20px;
    outline: none;
    padding: 1px;
}

/* Weird mumbo jumbo to remove default style */
input[type="color"] {
    -webkit-appearance: none;
    border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 1px;
}
input[type="color"]::-webkit-color-swatch {
	border: 1px;
}

/*  */
.colorGrid{
    display: flex;
    flex-wrap: wrap;
    height: 25px;

    align-items: center;
    justify-items: center;
    margin-right: 20px;
}

.colorBox{
    display: flex;
    width: 25px;
    height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
}

.colorClear{
    position: absolute;
    right: 20px;
    width: 50px;
    height: 29px;
    color: rgb(22, 22, 22);
    background-color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid black;
    outline-color: purple;
    text-align: center;
    line-height: 29px;
}

.outerDot{
    height: 30px;
    width: 30px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}


.innerDot{
    position: absolute;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
}


/* Scroll Bar look */
::-webkit-scrollbar{
    height: 7px;
    width: 7px;
    margin-right: 10px;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 30px;
    margin-right: 10px;
}



/* Make a overall div for chat */